<app-filters (eventFilters)="onFilter($event)"></app-filters>
<app-list
  [barChartData]="barChartData"
  [barChartLabels]="barChartLabels"
  [ResponseEnero]="ResponseEnero"
  [totalmonthJanuary]="totalmonthJanuary"
  [totalmonthFebrary]="totalmonthFebrary"
  [totalmonthMarch]="totalmonthMarch"
  [totalmonthApril]="totalmonthApril"
  [totalmonthMay]="totalmonthMay"
  [totalmonthJune]="totalmonthJune"
  [totalmontJuly]="totalmontJuly"
  [totalmonthAugust]="totalmonthAugust"
  [totalmonthSetember]="totalmonthSetember"
  [totalmontOctober]="totalmontOctober"
  [totalmontNovember]="totalmontNovember"
  [totalmonthDecember]="totalmonthDecember"
  [totalgeneral]="totalgeneral"
>
</app-list>
